/* ------- geral ----------- */

body{
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* ------- topo da página ----------- */

.barra-superior{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-weight: normal;
    width: 100%;
    height: 54px;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: white;
    z-index: 1;
}

.icon-instagram{
    width: 20px;
    height: 20px;
}

.separador-vertical {
    background: #DBDBDB;
    width: 1px; 
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-instagram{
    width: 103px;
    height: 29px;
}

.pesquisar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 215px;
    height: 29px;
    margin-left: 215px;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    background-color:  #FAFAFA;;
    color: #979797;
}

.icon-compartilhar{
    width: 20px;
    height: 20px;
    margin-left: 215px;
}

.icon-dm{
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

.icon-coracao{
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

.icon-perfil{
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

/* ------- Conteúdo Geral --------- */

main {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center; 
    margin: auto;
}

/* ------- Stories --------- */

.stories{
    width: 614px;
    height: 118px;
    margin-bottom: 24px;
    margin-top: 88px;
    display: flex;
    align-items: center;
    background-color:  #FFFFFF;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid rgb(211, 211, 211);
    
}

.stories img{
    width: 66px;
    height: 66px;
}

.stories1 {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    margin-left: 14px;
    color: #262626;
    background-color: color;
    position: relative;
}

.stories2 {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.stories2 img{
    border-radius: 28px;
    width: 56px;
    height: 56px;
    text-align: center;
    margin-bottom: 6px;

}

.setinha{
    margin-left: 580px;
    position: absolute;
}

.setinha img{
    width: 26px;
    height: 26px;
}

/* ------- Conteúdo Principal -------- */

.principais{
    margin-right: 335px;
    height: 1997px;
}

.principal1{
    margin-bottom: 60px;
}

.principal2{
    margin-bottom: 60px;
}

.principal3{
    margin-top: 60px;
}

.username{
    width: 612px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 3px  3px 0 0;
    border: 1px solid rgb(211, 211, 211)
}

.username img:first-child{
    margin-left: 14px;
}

.username img:nth-child(3){
    margin-left: 463px;
}

.username img{
    margin-left: 2px;
}

.username p{
    margin-left: 15px;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    color: #262626;
}

.foto{
    width: 612px;
    height: 612px;
    background-color: #FFFFFF;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
}

.foto video{
    width: 612px;
    height: 612px;
    
}

.foto3{
    height: 91px;
}

.icon-configfoto{
    display: flex;
    align-items: center;
    width: 612px;
    height: 42px;
    background-color:#FFFFFF;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
}

.icon-configfoto ion-icon{
    margin-left: 18px;
}
.icon-configfoto ion-icon:nth-child(4){
    margin-left: 478px;
} 

.curtidas {
    display: flex;
    align-items: center;
    width: 612px;
    height: 34px;
    background-color: #FFFFFF;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
}

.curtidas p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    
}

.curtidas img{
   margin-left: 17px;
   margin-right: 5px;   
}

.comentarios{
    box-sizing: border-box;
    width: 614px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.comentario1{
    display: flex;
    margin-top: 7px;
}

.comentario1 ion-icon{
    margin-left: auto;
    margin-right: 15px;
}

.comentario2{
    display: flex;
    margin-top: 7px;
}

.comentario2 ion-icon{
    margin-left: auto;
    margin-right: 15px;
}

input{
   
    border-top: none;
    border-radius: 3px  3px 0 0;
    font-family: Roboto;
    width: 523px;
    height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid rgb(211, 211, 211);
    color: #8E8E8E;


}

.publicar{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-radius: 3px  3px 0 0;
    font-family: Roboto;
    border: 1px solid rgb(211, 211, 211);
    width: 80px;
    height: 43px;
    background-color: #B2DFFC;
}

button {
    font-family: Roboto;
    font-style: bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #00008b;
}

 button:hover {
    background-color: #B2DFFC;
    background-color: #0095F6;
    opacity: 0.6;
    transition: 300ms;
  }

/* ------- Sidebar ----------- */

.sidebar{
    background-color: #E5E5E5;
    position: fixed;
    top: 0;
    width: 295px;
    margin-left: 646px;
    margin-top: 88px;
}

.elemento-principal{
    background-color: #E5E5E5;
    height: 100px;
    width: 300px;
    border-radius: 3px  3px 0 0;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.descricao {
    margin-left: 17px;
}

.elemento-principal img{
    width: 56px;
    height: 56px;
}

.elemento-principal p:first-child{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.elemento-principal p{
    color: #C7C7C7;
}

.elementos-secundarios{
    background-color: #E5E5E5;
    width: 300px;
    height: 325px;
    border-radius: 0 0 3px 3px;
}

.titulo-sugestoes{
    display: flex;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    color: #8E8E8E;
}

.titulo-sugestoes p:nth-child(2){  
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    color: #262626;
    margin-left: auto;
}

.sugestoes {
    margin-top: 17px;
}

.sugestoes img {
    margin-right: 11px;
}

.sugestao{
    display: flex;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #262626;
}

p1{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #8E8E8E; 
}

p2{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #139EF2;
    margin-left: auto
    
}

/* ------- copyrights --------- */

.infos{
    margin-top: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #C7C7C7;
}

.infos p{
    margin-bottom: 18px;
}


/* ------- Barra Inferior (versão mobile) --------- */

.barra-inferior{
    display: none;
}