@media (max-width: 614px){
    .sidebar, .separador-vertical, .pesquisar, .icon-dm, .icon-coracao, .icon-perfil, .setinha{
        display: none;
    }

    .icon-instagram{
        margin-right: auto;
        margin-left: 22px;
    }

    .icon-compartilhar{
        margin-left: auto;
        margin-right: 22px;
    }

    .barra-superior{
        width: 614px;
    }

    .stories{
        background-color: #E5E5E5;
        height: 121px;
        margin-left: 15px;
        margin-top: auto;
        margin-top: 50px;
        margin-bottom: auto;
    }

    .username{
        margin-left: 16px;
    }

    .foto{
        margin-left: 16px;
    }

    .foto3{
        margin-left: 16px;
    }

    .icon-configfoto{
        margin-left: 16px;
    }

    .curtidas{
        margin-left: 16px;
    }

    .barra-inferior{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
       
        align-items: center;
        height: 54px;
        background-color:  #FFFFFF;
        border-top: 1px solid rgb(211, 211, 211);

    }

    .icon-casa{
        margin-left: 20px;
    }

    .icon-lupa{
        margin-left: 118px;
    }

    .icon-mais{
        margin-left: 124px;
    }

    .icon-coracao2{
        margin-left: 122px;
    }

    .icon-perfil2{
        margin-left: 122px;
    }

    .comentarios{
        margin-left: 16px;
    }

    input{
        margin-left: 16px;
    }
}